.symptom-tracker {
  padding-top: 3rem;
  text-align: center;
  color: rgb(78, 75, 75);
}

.paragraph-header {
  font-size: 35px;
  font-family: "Arial", "Courier New", monospace;
}

.symptom-choice {
  font-size: 24px;
}

.btn {
  transition: all 0.5s ease-out;
  color: #eee;
  padding: 8px;
  font-family: "Verdana";
  display: inline-block;
  margin: 5px;

  &:hover {
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s ease;
  }
}

.btn-view-tracker {
  background: rgb(76, 199, 49);
}

.btn-create-tracker {
  background: rgb(60, 73, 219);
}
