.symptom-tracker {
    padding-top: 3rem;
    text-align: center;
    color: rgb(78, 75, 75);
}

.paragraph-header {
    font-size: 35px;
    font-family: 'Arial', 'Courier New', monospace;
}

.symptom-choice {
    font-size: 24px;
}

.btn {
    margin: 0 10px;
    background: none;
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    font-family: "Verdana", "Courier New", monospace;
    box-shadow: 0px 2px 8px black;
    color: #eee;
    transition: all .5s;

    &:hover {
        cursor: pointer;
        transition: all .5s;
        font-size: 20px;
    }
}

.btn-view-tracker {
    background: rgb(76, 199, 49);
}

.btn-create-tracker {
    background:rgb(60, 73, 219);
}